@model SectionPage

@{
    ViewBag.Seo = Model.Seo;
    ViewBag.Navigation = Model.Navigation;
}

<div class="catalog">
	@*кнопка назад и расширенный подбор*@.
	@*
		<div class="catalog__nav cover">
			<a href="" class="o-button o-button-back">
				<span class="o-button-back__text">назад</span>
				<svg class="o-button-back__icon">
					<use xlink:href="#icon-arrow-back"></use>
				</svg>
			</a>
			<a href="/catalog" class="catalog__selection o-button o-button_main">
				<svg class="o-button-selection__icon">
					<use xlink:href="#icon-menu"></use>
				</svg>
				<span class="o-button-selection__text">расширенный подбор</span>
			</a>
		</div>
	*@
	<div class="breadcrumbs-wrapper cover">
		<div class="breadcrumbs">
			@foreach (var breadcrumb in Model.Breadcrumbs)
			{
				<a href="@breadcrumb.Link" class="breadcrumbs__item breadcrumb">@breadcrumb.Title</a>
			}
		</div>
		<div class="catalog__num-product-dysplay-wrapper">
			<span class="catalog__num-product-dysplay-text">Отображать по:</span>
			<span class="catalog__num-product-dysplay catalog__num-product-dysplay_s js-product-num" data-product-num="0" data-req-name="count">12</span>
			<span class="catalog__num-product-dysplay catalog__num-product-dysplay_m js-product-num" data-product-num="1" data-req-name="count">24</span>
			<span class="catalog__num-product-dysplay catalog__num-product-dysplay_l js-product-num" data-product-num="2" data-req-name="count">36</span>
		</div>
	</div>
	<div class="catalog__title-wrapper cover">
		<h1 class="catalog__title">@Model.SectionTitle</h1>
		<p class="catalog__products-counts">@Model.ProductsCount предметов</p>
	</div>
    <div class="catalog__sorting-wrapper cover">
        @await Html.PartialAsync("_CatalogSorting")
        @await Html.PartialAsync("_CatalogPagination", Model.Pagination)
    </div>
	<div class="catalog__body cover">
		<div class="catalog__products col-9">
            <template class="products__item-template">
				<div class="products__item col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
                	@await Html.PartialAsync("_ProductCard", new ProductCard())
				</div>
            </template>
			@foreach (var product in Model.Products)
			{
				<div class="products__item col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
					@await Html.PartialAsync("_ProductCard", product)
				</div>
			}
		</div>
        <div class="catalog__sidebar col-3">
            <div class="catalog__categories catalog__categories_selected">
                <div class="catalog__categories-title-wrapper">
                    <h3 class="catalog__categories-title">Выбрано</h3>
                    <button class="catalog__categories-clear">Очистить</button>
                </div>
                <ul class="catalog__categories-list">
                    <li class="catalog__categories-item">категории: Антивозрастные</li>
                </ul>
            </div>

            @foreach (var filter in Model.Filters.CategoryFilters)
            {
                <div class="catalog__categories catalog__categories_selected">
                    <div class="catalog__categories-title-wrapper">
                        <h3 class="catalog__categories-title">@filter.Title</h3>
                    </div>
                    <ul class="catalog__categories-list">
                        @foreach (var item in filter.Items)
                        {
                            <li class="catalog__categories-item">
                                <input id="@item.Id" class="o-input-checkbox catalog__categories-checkbox" type="checkbox" data-value="@item.Url">
                                <label for="@item.Id" class="o-label-checkbox catalog__categories-item-label">@item.Title</label>
                            </li>
                        }
                    </ul>
                </div>
            }

            @* TODO: здесь сделать 2 инпута с диапазоном *@
            <div class="catalog__categories catalog__categories_selected">
                <div class="catalog__categories-title-wrapper">
                    <h3 class="catalog__categories-title">Цена</h3>
                </div>

                <input type="number" name="minprice" value="@Model.Filters.MinPrice" />
                <input type="number" name="maxprice" value="@Model.Filters.MaxPrice" />

                @*<ul class="catalog__categories-list">
                <li class="catalog__categories-item">
                    <input id="015" class="o-input-checkbox catalog__categories-checkbox" type="checkbox">
                    <label for="015" class="o-label-checkbox catalog__categories-item-label">100р-500р</label>
                </li>
                <li class="catalog__categories-item">
                    <input id="016" class="o-input-checkbox catalog__categories-checkbox" type="checkbox">
                    <label for="016" class="o-label-checkbox catalog__categories-item-label">500р-1000р</label>
                </li>
                <li class="catalog__categories-item">
                    <input id="017" class="o-input-checkbox catalog__categories-checkbox" type="checkbox">
                    <label for="017" class="o-label-checkbox catalog__categories-item-label">1000р-2000р</label>
                </li>
            </ul>*@
            </div>

            <div class="catalog__categories catalog__categories_selected">
                <div class="catalog__categories-title-wrapper">
                    <h3 class="catalog__categories-title">Производитель</h3>
                </div>
                <ul class="catalog__categories-list">
                    @foreach (var manufacturer in Model.Filters.Manufacturers)
                    {
                        <li class="catalog__categories-item">
                            <input id="@manufacturer.Id" class="o-input-checkbox catalog__categories-checkbox" type="checkbox" data-value="@manufacturer.Url">
                            <label for="@manufacturer.Id" class="o-label-checkbox catalog__categories-item-label">@manufacturer.Title</label>
                        </li>
                    }
                </ul>
            </div>

            <div class="catalog__categories catalog__categories_selected">
                <div class="catalog__categories-title-wrapper">
                    <h3 class="catalog__categories-title">Фильтрация</h3>
                </div>
                <ul class="catalog__categories-list">
                    <li class="catalog__categories-item">
                        <input id="hitProducts" class="o-input-checkbox catalog__categories-checkbox" type="checkbox" data-value="0">
                        <label for="hitProducts" class="o-label-checkbox catalog__categories-item-label">Хиты</label>
                    </li>
                    <li class="catalog__categories-item">
                        <input id="newProducts" class="o-input-checkbox catalog__categories-checkbox" type="checkbox" data-value="1">
                        <label for="newProducts" class="o-label-checkbox catalog__categories-item-label">Новинки</label>
                    </li>
                    <li class="catalog__categories-item">
                        <input id="discountProducts" class="o-input-checkbox catalog__categories-checkbox" type="checkbox" data-value="2">
                        <label for="discountProducts" class="o-label-checkbox catalog__categories-item-label">Скидки и акции</label>
                    </li>
                </ul>
            </div>

        </div>
	</div>
    <div class="catalog__sorting-wrapper cover">
        @await Html.PartialAsync("_CatalogSorting")
        @await Html.PartialAsync("_CatalogPagination", Model.Pagination)
    </div>
	<div class="o-delivery-wrapper cover">
		<p class="o-delivery">
			Доставка покупок выполняется в течение 2 рабочих дней. 
			Если на момент оформления заказа выбранный клиентом товар отсутствует на центральном складе, 
			то его передача в курьерскую службу откладывается на тот срок, который необходим для поступления 
			продукции на склад. Доставка товаров осуществляется с 09:00 до 18:00 по рабочим дням и с 11:00 до 
			17:00 в субботу. Оформляя заказ на сайте компании, Вы можете выбрать удобный для Вас период доставки 
			– 09:00−14:00 или 14:00−18:00.
		</p>
	</div>
</div>

<script src="~/js/catalog.js" asp-append-version="true"></script>