@model List<BannerViewModel>

<section class="main-section-banners container-fluid">
    <div class="banners container-fluid">
        <div class="banners-wrapper row">
            @for (int i = 0; i < Model.Count; i++)
            {
                var banner = Model[i];
                string bgImage = $"/images/bg_img{i+1}.png";    // TODO: banner.ImageUrl
                string image = $"/images/{i + 1}.png";          // TODO: banner.ImageUrl

                <div class="banner container-fluid col-12" style="background-image: url(@bgImage);">
                    <div class="banner_margin container-fluid justify-content-center">
                        <div class="banner_width banner_direction row">
                            <div class="banner__wrapper col-md-6">
                                <img class="banner__img" src="@image" alt="">
                            </div>
                            <div class="banner__content col-12 col-md-6">
                                <h3 class="banner__title">@banner.Title</h3>
                                <div class="banner__text">@banner.Content</div>

                                @if (!string.IsNullOrWhiteSpace(banner.ButtonText))
                                {
                                    <a class="banner__content_link" href="@banner.Url">@banner.ButtonText</a>
                                }

                                @if (banner.ActionDate != null)
                                {
                                    <div class="banner__timer">@banner.ActionDate?.ToString("dd MM yyyy HH:mm:ss")</div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }

			@*<div class="banner container-fluid col-12" style="background-image: url(images/banner.jpg);">
				<div class="banner_margin container-fluid justify-content-center">
                    <div class="banner-body row">
                        <div class="col-md-6"></div>
                        <div class="banner__content col-12 col-md-6">
                            <h3 class="banner__title"><span>С</span>кидка на твой<br> первый заказ 20%</h3>
                            <div class="banner__text">При покупке от 3 000р,<br> доставка бесплатно!</div>
							<div class="banner__timer"></div>
                        </div>
                    </div>
                </div>
			</div>
            <div class="banner container-fluid col-12" style="background-image: url(images/bg_img1.png);">
                <div class="banner_margin container-fluid justify-content-center">
                    <div class="banner_width banner_direction row">
                        <div class="banner__wrapper col-md-6">
                            <img class="banner__img" src="images/1.png" alt="">
                        </div>
                        <div class="banner__content col-12 col-md-6">
                            <h3 class="banner__title">Бесплатная доставка</h3>
                            <div class="banner__text">Закажите товар на сумму от 3000 руб и выше и в городах присутствия курьерской службы вы получите свой заказ прямо в руки в кратчайшие сроки</div>
                            <a class="banner__content_link" href="#">Подробнее о доставке</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner container-fluid col-12" style="background-image: url(images/bg_img2.png);">
                <div class="banner_margin container-fluid justify-content-center">
                    <div class="banner_width banner_direction row">
                        <div class="banner__wrapper col-md-6">
                            <img class="banner__img" src="images/2.png" alt="">
                        </div>
                        <div class="banner__content col-12 col-md-6">
                            <h3 class="banner__title">Бесплатная доставка</h3>
                            <div class="banner__text">Закажите товар на сумму от 3000 руб и выше и в городах присутствия курьерской службы вы получите свой заказ прямо в руки в кратчайшие сроки</div>
                            <a class="banner__content_link" href="#">Подробнее о доставке</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner container-fluid col-12" style="background-image: url(images/bg_img3.png);">
                <div class="banner_margin container-fluid justify-content-center">
                    <div class="banner_width banner_direction row">
                        <div class="banner__wrapper col-md-6">
                            <img class="banner__img" src="images/3.png" alt="">
                        </div>
                        <div class="banner__content col-12 col-md-6">
                            <h3 class="banner__title">Бесплатная доставка</h3>
                            <div class="banner__text">Закажите товар на сумму от 3000 руб и выше и в городах присутствия курьерской службы вы получите свой заказ прямо в руки в кратчайшие сроки</div>
                            <a class="banner__content_link" href="#">Подробнее о доставке</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner container-fluid col-12" style="background-image: url(images/bg_img1.png);">
                <div class="banner_margin container-fluid justify-content-center">
                    <div class="banner_width banner_direction row">
                        <div class="banner__wrapper col-md-6">
                            <img class="banner__img" src="images/4.png" alt="">
                        </div>
                        <div class="banner__content col-12 col-md-6">
                            <h3 class="banner__title">Бесплатная доставка</h3>
                            <div class="banner__text">Закажите товар на сумму от 3000 руб и выше и в городах присутствия курьерской службы вы получите свой заказ прямо в руки в кратчайшие сроки</div>
                            <a class="banner__content_link" href="#">Подробнее о доставке</a>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
        <div class="banners-buttons">
            <div id="moveBannerLeft" class="banners-button banners-button_left">
				<svg class="banners-buttons__angle-left">
					<use xlink:href="#icon-angle-left"></use>
				</svg>
            </div>
            <div id="moveBannerRight" class="banners-button banners-button_right">
				<svg class="banners-buttons__angle-right">
					<use xlink:href="#icon-angle-right"></use>
				</svg>
            </div>
        </div>
    </div>
</section>