@model List<PromoViewModel>

<section class="discounts">
	<div class="discounts__shadow-start"></div>
	<div class="cover">
		<div class="discounts__container container-fluid">
            <div class="discounts__wrapper">

                @foreach (var promo in Model)
                {
					if (string.IsNullOrEmpty(promo.Url))
					{
						<div class="discounts__body-wrapper col-12 col-sm-6 col-lg-4">
							<div class="discounts__body">
								<div class="discounts__img" style="background-image: url(@promo.ImageUrl)"></div>
								<p class="discounts__text">@promo.Title</p>
								<p class="discounts__promocode">@promo.Content</p>
							</div>
						</div>
					}
					else
					{
						<div class="discounts__body-wrapper col-12 col-sm-6 col-lg-4">
							<a href="@promo.Url" class="discounts__body">
								<div class="discounts__img" style="background-image: url(@promo.ImageUrl)"></div>
								<p class="discounts__text">@promo.Title</p>
								<p class="discounts__promocode">@promo.Content</p>
							</a>
						</div>
					}
                }

            </div>
			<div class="discounts-buttons">
				<div class="discounts-button discounts-button_left js-move-discounts-left">
					<svg class="discounts-buttons__angle-left">
						<use xlink:href="#icon-angle-left"></use>
					</svg>
				</div>
				<div class="discounts-button discounts-button_right js-move-discounts-right">
					<svg class="discounts-buttons__angle-right">
						<use xlink:href="#icon-angle-right"></use>
					</svg>
				</div>
        	</div>
		</div>
	</div>
	<div class="discounts__shadow-end"></div>
</section>