<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyTotto - Онлайн-магазин косметики</title>
    <meta name="description" content="Косметика купить">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="~/libs/styles/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <script src="~/libs/scripts/script.js" asp-append-version="true" async></script>
</head>
<body>
	<div style="display: none">
    	@Html.Partial("_Symbols")
	</div>
    @Html.Partial("_Header")

    <main class="main container-fluid">
        
        @RenderBody()

        @Html.Partial("_Discounts")

        @Html.Partial("_NewProducts")

    </main>
    
    @Html.Partial("_Footer")

    <script src="js/main.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
