<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyTotto - Онлайн-магазин косметики</title>
    <meta name="description" content="Косметика купить">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="~/libs/styles/style.css">
    <link rel="stylesheet" href="~/css/site.css">
    <script src="~/libs/scripts/script.js" async></script>
</head>
<body>
	<div style="display: none">
    	@Html.Partial("_Symbols")
	</div>
    @Html.Partial("_Header")

    <main class="main container-fluid">
        @Html.Partial("_Banners")

        @Html.Partial("_Products")

        @Html.Partial("_Discounts")

    </main>
    @Html.Partial("_Info")
    @Html.Partial("_Footer")
    @RenderBody()


    <script src="js/main.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
