@model List<ProductCardViewModel>

<div class="container-fluid">
	<div class="container-fluid row justify-content-center">
		<section class="main-section-content main-section-content_padding col-10">
			<div class="main-content container-fluid">
				<div class="container-fluid">
					<nav class="main-nav">
						<ul class="main-nav__list">
							<li class="main-nav_center"><a class="main-nav__item main-nav__item_active">Новинки</a></li>
							<li class="main-nav_center"><a class="main-nav__item">Хиты продаж</a></li>
							<li class="main-nav_center"><a class="main-nav__item">Скидки и акции</a></li>
						</ul>

					</nav>
				</div>
				<div class="container-fluid">
					<div class="products container-fluid row">
						<div id="moveCarouselLeft0" class="button-left col-1"><i class="fas fa-angle-left fa-3x"></i></div>
						<div class="carousel col-10">
                            <div class="products-wrapper row">

                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    var product = Model[i];

                                    <div class="products__item col-12 col-sm-6 col-md-4 col-lg-3">
                                        <div class="products__item_padding ">
                                            <div class="product">
                                                <a href="@product.Url">
                                                    <img class="product_img" src="images/cream1.png" alt="Крем">
                                                </a>
                                                <div class="product__info">
                                                    <a class="product__name" href="@product.Url">@product.Title</a>
                                                    <div class="product__price">
                                                        @product.DiscountPrice  <s>(@product.Price)</s>
                                                        <i class="fas fa-ruble-sign"></i>
                                                    </div>
                                                    <div class="product__inbasket">
                                                        <a class="product__inbasket_buy" href="#">В корзину</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
						</div>
						<div id="moveCarouselRight0" class="button-right col-1"><i class="fas fa-angle-right fa-3x"></i></div>
					</div>
					<div class="products container-fluid row hidden">
						<div id="moveCarouselLeft1" class="button-left col-1"><i class="fas fa-angle-left fa-3x"></i></div>
						<div class="carousel col-10">
                            <div class="products-wrapper row">

                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    var product = Model[i];

                                    <div class="products__item col-12 col-sm-6 col-md-4 col-lg-3">
                                        <div class="products__item_padding ">
                                            <div class="product">
                                                <a href="@product.Url">
                                                    <img class="product_img" src="images/cream1.png" alt="Крем">
                                                </a>
                                                <div class="product__info">
                                                    <a class="product__name" href="@product.Url">@product.Title</a>
                                                    <div class="product__price">
                                                        @product.DiscountPrice  <s>(@product.Price)</s>
                                                        <i class="fas fa-ruble-sign"></i>
                                                    </div>
                                                    <div class="product__inbasket">
                                                        <a class="product__inbasket_buy" href="#">В корзину</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                
                            </div>
						</div>
						<div id="moveCarouselRight1" class="button-right col-1"><i class="fas fa-angle-right fa-3x"></i></div>
					</div>
					<div class="products container-fluid row hidden">
						<div id="moveCarouselLeft2" class="button-left col-1"><i class="fas fa-angle-left fa-3x"></i></div>
						<div class="carousel col-10">
							<div class="products-wrapper row">
                                <div class="products__item col-12 col-sm-6 col-md-4 col-lg-3">

                                    @for (int i = 0; i < Model.Count; i++)
                                    {
                                        var product = Model[i];

                                        <div class="products__item col-12 col-sm-6 col-md-4 col-lg-3">
                                            <div class="products__item_padding ">
                                                <div class="product">
                                                    <a href="@product.Url">
                                                        <img class="product_img" src="images/cream1.png" alt="Крем">
                                                    </a>
                                                    <div class="product__info">
                                                        <a class="product__name" href="@product.Url">@product.Title</a>
                                                        <div class="product__price">
                                                            @product.DiscountPrice  <s>(@product.Price)</s>
                                                            <i class="fas fa-ruble-sign"></i>
                                                        </div>
                                                        <div class="product__inbasket">
                                                            <a class="product__inbasket_buy" href="#">В корзину</a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div>
							</div>
						</div>
						<div id="moveCarouselRight2" class="button-right col-1"><i class="fas fa-angle-right fa-3x"></i></div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>