@model ProductCard

@{
    string type = "";
    switch (Model.ProductType)
    {
        case ProductType.New:
            type = "new";
            break;
        case ProductType.Hit:
            type = "hit";
            break;
        case ProductType.Discount:
            type = "discount";
            break;
        default:
            type = "normal";
            break;
    }

    string productsClasses = $"products__item js-products__item-{type} col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3";
    string productClasses = $"product js-products-{type}";
}

<div class="@productsClasses">
    <a class="@productClasses" href="@Model.Url">
		<div class="product__img-wrapper col-sm-6 col-md-4 col-xl-12">
        	<div class="product__img" style="background-image: url(@Model.ImageUrl)" alt="@Model.Title">
				<button class="product__favorites js-reset-click" data-title="Добавить в избранное">
					<svg class="product-icon-button-heart">
						<use xlink:href="#icon-button-heart"></use>
					</svg>
				</button>
			</div>
		</div>
        <div class="product__wrapper col-sm-6 col-md-8 col-xl-12">
			<div class="product__info col-md-6 col-xl-12">
            	<h4 class="product__name">@Model.Title</h4>
				<p class="product__description">В плодах содержатся до 3,5% сахарозы, органические кислоты (уксусная). 4.6% белков, клетчатка, 48-76% жирного масла, состоящего на 80% из ненасыщенных кислот, токоферолы, высшие жирные кислоты, антоцианы.</p>
			</div>
            <div class="product__buttons container col-md-6 col-xl-12">
                <div class="row">
                    <div class="col-5">
                        <div class="product__price-before-strike">
                            <p class="product__price-before">@Model.Price</p>
                        </div>
                        <p class="product__price-after">@Model.DiscountPrice</p>
                    </div>
                    <div class="product-sale col-4">
                        @if (Model.ProductType == ProductType.Discount)
                        {
                            <div class="js-product-sale__stock product-sale_red">Акция</div>
                        }
                        @if (Model.ProductType == ProductType.Hit)
                        {
                            <div class="js-product-sale__hit product-sale_orange">Хит</div>
                        }
                        @if (Model.ProductType == ProductType.New)
                        {
                            <div class="js-product-sale__new product-sale_light-blue">New</div>
                        }
                    </div>
                    <div class="col-3 product__inbasket-icon_position">
                        <button class="product__inbasket-icon js-product-inbasket js-reset-click" data-title="Купить в 1 клик" type="button" data-id="@Model.Id">
                            <svg class="product-icon-button-basket">
                                <use xlink:href="#icon-button-basket"></use>
                            </svg>
                        </button>
                    </div>
					<div class="product__inbasket">
						<button class="product__inbasket_buy js-product-inbasket js-product-basket-modal js-reset-click" type="button" data-id="@Model.Id">добавить в корзину</button>
					</div>
                </div>
            </div>
        </div>
        
    </a>
</div>